/CvGameCoreDLL/Release/
/CvGameCoreDLL/Profile/
/CvGameCoreDLL/ReleaseFast/
/CvGameCoreDLL/ReleaseFastVerify/
/CvGameCoreDLL/ReleaseFastTrace/
/CvGameCoreDLL/ProfileFast/
/CvGameCoreDLL/temp_files/
/CvGameCoreDLL/_CL_*
/CvGameCoreDLL/bin/
/profiling/autoverify/*/
/profiling/milestone*/
/profiling/dll-backups/
*.log
*.pyc
__pycache__/
*.before
custom_profile.csv
custom_profile.log
autoverify.csv
PythonDbg.log
PythonErr.log
AutoVerify.ini
CivilizationIV.ini
